*.cshtml linguist-vendored

wwwroot/lib/**/*.min.js linguist-vendored
wwwroot/lib/**/*.min.css linguist-vendored

node_modules/** linguist-vendored

*.dll linguist-vendored
*.exe linguist-vendored
*.min.css linguist-vendored
*.min.js linguist-vendored

*.png linguist-vendored
*.jpg linguist-vendored
*.jpeg linguist-vendored
*.gif linguist-vendored
*.svg linguist-vendored

*.json linguist-vendored
*.xml linguist-vendored
*.config linguist-vendored

*.cs linguist-language=C#
*.js linguist-language=JavaScript
